editdistance==0.6.0
huggingface-hub==0.16.4
idna==3.4
Levenshtein==0.21.0
librosa==0.10.0.post2
nltk==3.8.1
numpy==1.24.3
pytesseract==0.3.10
safetensors==0.3.1
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.1
soundfile==0.12.1
tokenizers==0.13.3
torch==2.0.1
transformers==4.32.0
wordfreq==3.0.3
wordninja==2.0.0

Metaphone~=0.6
opencv-python~=4.6.0.66
moviepy~=1.0.3
pandas~=2.0.1
matplotlib~=3.7.1
contractions~=0.1.73
seaborn~=0.13.0